@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #3855d5;
}
h1,
h2,a,p {
    font-family: 'Montserrat', sans-serif;
    color:white;
}
/* MODIFICADORES DE index.html */
.contenedorPrincipal {
    width: 50%;
    padding-top: 2%;
}
.fotoPortada {
    margin-top:-550px;
    margin-left: 50%;
   
}
.fotosTatuando{
  margin-top:15px;
  margin-left:60px;
}
.menu {
  background-color: #CDD5F5;
  position: relative;
  top:-10px;
  left:-10px;
  width:50%;
  height:30%;
  padding:2px;
}

.item-m {
  display: inline-block;
  margin-right:40px;
  font-weight:bold;
}
.item-m a {
  color: #6A80E0;
  text-decoration: none;
  padding:20px;
  
}
.item-m a:hover {
  color: white;
  background-color: #516ADA;
  text-decoration: none;
  
}
/* MODIFICADORES DE tattoos.html */
.fotosTattoos{
  margin-top:50px;
}
.contenedorTattoos{
  width:650px;
  
}
.lista{
  list-style:none;
}
.titulosFotos{
  font-size:40px;
  margin-bottom: 50px;
} 
.item{
  position:relative;
  left:100%;
  bottom:180px;
}
.epigrafes{
  color:white;
  float:right;
  
}

/* MODIFICADORES DE contacto.html*/
.pmitad{
  width:50%;
}
.iconoIg{
  margin-top:25px;
  margin-left:150px;
}
